@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: #1a1a1a;
    --fill-color: #ffffff;
    --fill-color-indicator: #be4141;
  }

  .dark-theme {
    --text-color: #ffffff;
    --fill-color: #161616;
    --fill-color-indicator: #be4141;
  }
}

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  position: absolute;
  padding: 0;
  margin-top: 0;
  box-sizing: content-box;
  margin: 0;
  background-color: #f4f6fa;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Roboto", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding: 2px;
  border-radius: 50%;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  padding: 2px;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  padding: 2px;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #818181;
}

.pop {
  width: 99%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 30;
  top: 0;
  right: 0;
  border-radius: 7px;
}

.pop1 {
  position: fixed;
  width: 84.5%;
  height: 100%;
  /* background-color: #be4141; */
  right: 0;
  top: 0;
}

.none {
  display: none;
}

.block {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opa {
  background-color: rgba(0, 0, 0, .2);
  transition-duration: .5s;
}

.guid {
  width: 25rem;
  /* height: 10rem; */
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: white;
  /* padding: 10px; */
  border-radius: 10px;
  position: absolute;
  animation: fade .3s linear;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-b {
  color: #000 !important;
}

    
    		tr:nth-child(even) {
    		  /* background-color: #fda1a1; */
    		}
.select {
  font-size: 15px !important;
  border: none !important;
  outline: none !important;
}
/* .t-sha{
  text-shadow: 1px 1px 2px #b3b5b8;
} */